<?xml version="1.0"?>
<configuration>
	<connectionStrings>
  <add name="formFlowsConnectionString" connectionString="Data Source=blackpoint;Initial Catalog=formFlows;Persist Security Info=True;User ID=py;Password=Proyecto2009"
   providerName="System.Data.SqlClient" />
  <add name="formFlowsConnectionString1" connectionString="Data Source=WIN\SQLEXPRESS;Initial Catalog=formFlows;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
 <system.serviceModel>
		<behaviors>
   <serviceBehaviors>
    <behavior name="DBServiceBehavior">
     <serviceMetadata httpGetEnabled="true" />
     <serviceDebug includeExceptionDetailInFaults="false" />
    </behavior>
    <behavior name="DBBehavior">
     <serviceMetadata httpGetEnabled="true" />
     <serviceDebug includeExceptionDetailInFaults="false" />
    </behavior>
    <behavior name="dbBehavior">
     <serviceMetadata httpGetEnabled="true" />
     <serviceDebug includeExceptionDetailInFaults="false" />
    </behavior>
    <behavior name="DServiceBehavior">
     <serviceMetadata httpGetEnabled="true" />
     <serviceDebug includeExceptionDetailInFaults="false" />
    </behavior>
    <behavior name="ServicedbBehavior">
     <serviceMetadata httpGetEnabled="true" />
     <serviceDebug includeExceptionDetailInFaults="false" />
    </behavior>
   </serviceBehaviors>
  </behaviors>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
		<services>
   <service behaviorConfiguration="DBServiceBehavior" name="DBService">
    <endpoint address="" binding="basicHttpBinding" contract="DBService" />
    <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
   </service>
   <service behaviorConfiguration="DBBehavior" name="DB">
    <endpoint address="" binding="basicHttpBinding" contract="DB" />
    <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
   </service>
   <service behaviorConfiguration="dbBehavior" name="db">
    <endpoint address="" binding="basicHttpBinding" contract="db" />
    <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
   </service>
   <service behaviorConfiguration="DServiceBehavior" name="DService">
    <endpoint address="" binding="basicHttpBinding" contract="DService" />
    <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
   </service>
   <service behaviorConfiguration="ServicedbBehavior" name="Servicedb">
    <endpoint address="" binding="basicHttpBinding" contract="Servicedb" />
    <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
   </service>
  </services>
	</system.serviceModel>
	<system.web>
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies></compilation></system.web></configuration>
