body
{
}

.center
{
	float: left;
}

.cssNavegacion
{
	float: left;
	text-align: center;
	width: 100%;

}

#InformacionBasica
{
   height: 450PX;
   text-align: center;
   width: 70%;
   margin-left: 200px;
}
li{
  margin-left: 250px;
}